shopata.zip
Product Variation Variation Option.txt
.env
.vscode/
shopataclick.pub
public/backend/images/brands
public/backend/images/blogs/feature_image
public/backend/images/category
public/backend/images/product_gallery
public/backend/images/products
public/backend/product_document
