shopata.zip
Product Variation Variation Option.txt
.env
.vscode/
shopataclick
shopataclick.pub
/backend/images/brands
/backend/images/blogs/feature_image
/backend/images/category
/backend/images/product_gallery
/backend/images/products
/backend/product_document